<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morelinks.service.micro.inner.user.mapper.RouteInfoMapper" >
  <resultMap id="BaseResultMap" type="com.morelinks.feign.micro.inner.user.api.model.RouteInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="system_type" property="systemType" jdbcType="TINYINT" />
    <result column="system_id" property="systemId" jdbcType="INTEGER" />
    <result column="route_path" property="routePath" jdbcType="VARCHAR" />
    <result column="route_status" property="routeStatus" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="path_with_id" property="pathWithId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, system_type, system_id, route_path, route_status, remark, create_time, update_time, 
    path_with_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from route_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from route_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.morelinks.feign.micro.inner.user.api.model.RouteInfo" >
    insert into route_info (id, system_type, system_id, 
      route_path, route_status, remark, 
      create_time, update_time, path_with_id
      )
    values (#{id,jdbcType=INTEGER}, #{systemType,jdbcType=TINYINT}, #{systemId,jdbcType=INTEGER}, 
      #{routePath,jdbcType=VARCHAR}, #{routeStatus,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{pathWithId,jdbcType=TINYINT}
      )
    <selectKey keyProperty="id" order="AFTER" resultType="int" >
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.morelinks.feign.micro.inner.user.api.model.RouteInfo" >
    insert into route_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systemType != null" >
        system_type,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
      <if test="routePath != null" >
        route_path,
      </if>
      <if test="routeStatus != null" >
        route_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="pathWithId != null" >
        path_with_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systemType != null" >
        #{systemType,jdbcType=TINYINT},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=INTEGER},
      </if>
      <if test="routePath != null" >
        #{routePath,jdbcType=VARCHAR},
      </if>
      <if test="routeStatus != null" >
        #{routeStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pathWithId != null" >
        #{pathWithId,jdbcType=TINYINT},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="int" >
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.morelinks.feign.micro.inner.user.api.model.RouteInfo" >
    update route_info
    <set >
      <if test="systemType != null" >
        system_type = #{systemType,jdbcType=TINYINT},
      </if>
      <if test="systemId != null" >
        system_id = #{systemId,jdbcType=INTEGER},
      </if>
      <if test="routePath != null" >
        route_path = #{routePath,jdbcType=VARCHAR},
      </if>
      <if test="routeStatus != null" >
        route_status = #{routeStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pathWithId != null" >
        path_with_id = #{pathWithId,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.morelinks.feign.micro.inner.user.api.model.RouteInfo" >
    update route_info
    set system_type = #{systemType,jdbcType=TINYINT},
      system_id = #{systemId,jdbcType=INTEGER},
      route_path = #{routePath,jdbcType=VARCHAR},
      route_status = #{routeStatus,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      path_with_id = #{pathWithId,jdbcType=TINYINT}
    <where >
      id = #{id,jdbcType=INTEGER}
    </where>
  </update>
  <select id="queryPageResult" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from 
    route_info
    <where >
      <if test="condition.id != null" >
        and id = #{condition.id,jdbcType=INTEGER}
      </if>
      <if test="condition.systemType != null" >
        and system_type = #{condition.systemType,jdbcType=TINYINT}
      </if>
      <if test="condition.systemId != null" >
        and system_id = #{condition.systemId,jdbcType=INTEGER}
      </if>
      <if test="condition.routePath != null and condition.routePath != ''" >
        and route_path = #{condition.routePath,jdbcType=VARCHAR}
      </if>
      <if test="condition.routeStatus != null" >
        and route_status = #{condition.routeStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.remark != null and condition.remark != ''" >
        and remark = #{condition.remark,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTime != null" >
        and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
        and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.pathWithId != null" >
        and path_with_id = #{condition.pathWithId,jdbcType=TINYINT}
      </if>
    </where>
    <if test="page.sort != null and page.sort != ''" >
      ORDER BY ${page.sort} ${page.order}
    </if>
    <if test="page != null" >
      limit #{page.offset}, #{page.limit}
    </if>
  </select>
  <select id="queryPageResultCount" resultType="int" >
    select count(*) from 
    route_info
    <where >
      <if test="condition.id != null" >
        and id = #{condition.id,jdbcType=INTEGER}
      </if>
      <if test="condition.systemType != null" >
        and system_type = #{condition.systemType,jdbcType=TINYINT}
      </if>
      <if test="condition.systemId != null" >
        and system_id = #{condition.systemId,jdbcType=INTEGER}
      </if>
      <if test="condition.routePath != null and condition.routePath != ''" >
        and route_path = #{condition.routePath,jdbcType=VARCHAR}
      </if>
      <if test="condition.routeStatus != null" >
        and route_status = #{condition.routeStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.remark != null and condition.remark != ''" >
        and remark = #{condition.remark,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTime != null" >
        and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
        and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.pathWithId != null" >
        and path_with_id = #{condition.pathWithId,jdbcType=TINYINT}
      </if>
    </where>
  </select>
</mapper>