<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morelinks.service.micro.product.mapper.ProductBrandMapper" >
  <resultMap id="BaseResultMap" type="com.morelinks.feign.micro.product.api.model.ProductBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="brand_status" property="brandStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="show_name" property="showName" jdbcType="VARCHAR" />
    <result column="logo_img_path" property="logoImgPath" jdbcType="VARCHAR" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_name, supplier_id, brand_status, create_time, update_time, remark, supplier_name, 
    show_name, logo_img_path, country_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.morelinks.feign.micro.product.api.model.ProductBrand" >
    insert into product_brand (id, brand_name, supplier_id, 
      brand_status, create_time, update_time, 
      remark, supplier_name, show_name, 
      logo_img_path, country_name)
    values (#{id,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, 
      #{brandStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{showName,jdbcType=VARCHAR}, 
      #{logoImgPath,jdbcType=VARCHAR}, #{countryName,jdbcType=VARCHAR})
    <selectKey keyProperty="id" order="AFTER" resultType="int" >
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.morelinks.feign.micro.product.api.model.ProductBrand" >
    insert into product_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="brandStatus != null" >
        brand_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="showName != null" >
        show_name,
      </if>
      <if test="logoImgPath != null" >
        logo_img_path,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="brandStatus != null" >
        #{brandStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null" >
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="logoImgPath != null" >
        #{logoImgPath,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="int" >
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.morelinks.feign.micro.product.api.model.ProductBrand" >
    update product_brand
    <set >
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="brandStatus != null" >
        brand_status = #{brandStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null" >
        show_name = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="logoImgPath != null" >
        logo_img_path = #{logoImgPath,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.morelinks.feign.micro.product.api.model.ProductBrand" >
    update product_brand
    set brand_name = #{brandName,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      brand_status = #{brandStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      show_name = #{showName,jdbcType=VARCHAR},
      logo_img_path = #{logoImgPath,jdbcType=VARCHAR},
      country_name = #{countryName,jdbcType=VARCHAR}
    <where >
      id = #{id,jdbcType=INTEGER}
    </where>
  </update>
  <select id="queryPageResult" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from 
    product_brand
    <where >
      <if test="condition.id != null" >
        and id = #{condition.id,jdbcType=INTEGER}
      </if>
      <if test="condition.brandName != null and condition.brandName != ''" >
        and brand_name = #{condition.brandName,jdbcType=VARCHAR}
      </if>
      <if test="condition.supplierId != null" >
        and supplier_id = #{condition.supplierId,jdbcType=INTEGER}
      </if>
      <if test="condition.brandStatus != null" >
        and brand_status = #{condition.brandStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.createTime != null" >
        and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
        and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.remark != null and condition.remark != ''" >
        and remark = #{condition.remark,jdbcType=VARCHAR}
      </if>
      <if test="condition.supplierName != null and condition.supplierName != ''" >
        and supplier_name = #{condition.supplierName,jdbcType=VARCHAR}
      </if>
      <if test="condition.showName != null and condition.showName != ''" >
        and show_name = #{condition.showName,jdbcType=VARCHAR}
      </if>
      <if test="condition.logoImgPath != null and condition.logoImgPath != ''" >
        and logo_img_path = #{condition.logoImgPath,jdbcType=VARCHAR}
      </if>
      <if test="condition.countryName != null and condition.countryName != ''" >
        and country_name = #{condition.countryName,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="page.sort != null and page.sort != ''" >
      ORDER BY ${page.sort} ${page.order}
    </if>
    <if test="page != null" >
      limit #{page.offset}, #{page.limit}
    </if>
  </select>
  <select id="queryPageResultCount" resultType="int" >
    select count(*) from 
    product_brand
    <where >
      <if test="condition.id != null" >
        and id = #{condition.id,jdbcType=INTEGER}
      </if>
      <if test="condition.brandName != null and condition.brandName != ''" >
        and brand_name = #{condition.brandName,jdbcType=VARCHAR}
      </if>
      <if test="condition.supplierId != null" >
        and supplier_id = #{condition.supplierId,jdbcType=INTEGER}
      </if>
      <if test="condition.brandStatus != null" >
        and brand_status = #{condition.brandStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.createTime != null" >
        and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
        and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.remark != null and condition.remark != ''" >
        and remark = #{condition.remark,jdbcType=VARCHAR}
      </if>
      <if test="condition.supplierName != null and condition.supplierName != ''" >
        and supplier_name = #{condition.supplierName,jdbcType=VARCHAR}
      </if>
      <if test="condition.showName != null and condition.showName != ''" >
        and show_name = #{condition.showName,jdbcType=VARCHAR}
      </if>
      <if test="condition.logoImgPath != null and condition.logoImgPath != ''" >
        and logo_img_path = #{condition.logoImgPath,jdbcType=VARCHAR}
      </if>
      <if test="condition.countryName != null and condition.countryName != ''" >
        and country_name = #{condition.countryName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>