<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morelinks.service.micro.order.mapper.AgentOrderLogMapper" >
  <resultMap id="BaseResultMap" type="com.morelinks.feign.micro.order.api.model.AgentOrderLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="log_type" property="logType" jdbcType="TINYINT" />
    <result column="ori_order_status" property="oriOrderStatus" jdbcType="TINYINT" />
    <result column="after_order_status" property="afterOrderStatus" jdbcType="TINYINT" />
    <result column="log_content" property="logContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="modify_record" property="modifyRecord" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operator_type" property="operatorType" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, log_type, ori_order_status, after_order_status, log_content, create_time, 
    update_time, modify_record, operator, operator_type, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from agent_order_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from agent_order_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.morelinks.feign.micro.order.api.model.AgentOrderLog" >
    insert into agent_order_log (id, order_id, log_type, 
      ori_order_status, after_order_status, log_content, 
      create_time, update_time, modify_record, 
      operator, operator_type, remark
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{logType,jdbcType=TINYINT}, 
      #{oriOrderStatus,jdbcType=TINYINT}, #{afterOrderStatus,jdbcType=TINYINT}, #{logContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{modifyRecord,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operatorType,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
    <selectKey keyProperty="id" order="AFTER" resultType="int" >
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.morelinks.feign.micro.order.api.model.AgentOrderLog" >
    insert into agent_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="logType != null" >
        log_type,
      </if>
      <if test="oriOrderStatus != null" >
        ori_order_status,
      </if>
      <if test="afterOrderStatus != null" >
        after_order_status,
      </if>
      <if test="logContent != null" >
        log_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="modifyRecord != null" >
        modify_record,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="operatorType != null" >
        operator_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        #{logType,jdbcType=TINYINT},
      </if>
      <if test="oriOrderStatus != null" >
        #{oriOrderStatus,jdbcType=TINYINT},
      </if>
      <if test="afterOrderStatus != null" >
        #{afterOrderStatus,jdbcType=TINYINT},
      </if>
      <if test="logContent != null" >
        #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyRecord != null" >
        #{modifyRecord,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null" >
        #{operatorType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="int" >
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.morelinks.feign.micro.order.api.model.AgentOrderLog" >
    update agent_order_log
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        log_type = #{logType,jdbcType=TINYINT},
      </if>
      <if test="oriOrderStatus != null" >
        ori_order_status = #{oriOrderStatus,jdbcType=TINYINT},
      </if>
      <if test="afterOrderStatus != null" >
        after_order_status = #{afterOrderStatus,jdbcType=TINYINT},
      </if>
      <if test="logContent != null" >
        log_content = #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyRecord != null" >
        modify_record = #{modifyRecord,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null" >
        operator_type = #{operatorType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.morelinks.feign.micro.order.api.model.AgentOrderLog" >
    update agent_order_log
    set order_id = #{orderId,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=TINYINT},
      ori_order_status = #{oriOrderStatus,jdbcType=TINYINT},
      after_order_status = #{afterOrderStatus,jdbcType=TINYINT},
      log_content = #{logContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      modify_record = #{modifyRecord,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operator_type = #{operatorType,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    <where >
      id = #{id,jdbcType=INTEGER}
    </where>
  </update>
  <select id="queryPageResult" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from 
    agent_order_log
    <where >
      <if test="condition.id != null" >
        and id = #{condition.id,jdbcType=INTEGER}
      </if>
      <if test="condition.orderId != null and condition.orderId != ''" >
        and order_id = #{condition.orderId,jdbcType=VARCHAR}
      </if>
      <if test="condition.logType != null" >
        and log_type = #{condition.logType,jdbcType=TINYINT}
      </if>
      <if test="condition.oriOrderStatus != null" >
        and ori_order_status = #{condition.oriOrderStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.afterOrderStatus != null" >
        and after_order_status = #{condition.afterOrderStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.logContent != null and condition.logContent != ''" >
        and log_content = #{condition.logContent,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTime != null" >
        and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
        and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.modifyRecord != null and condition.modifyRecord != ''" >
        and modify_record = #{condition.modifyRecord,jdbcType=VARCHAR}
      </if>
      <if test="condition.operator != null and condition.operator != ''" >
        and operator = #{condition.operator,jdbcType=VARCHAR}
      </if>
      <if test="condition.operatorType != null" >
        and operator_type = #{condition.operatorType,jdbcType=TINYINT}
      </if>
      <if test="condition.remark != null and condition.remark != ''" >
        and remark = #{condition.remark,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="page.sort != null and page.sort != ''" >
      ORDER BY ${page.sort} ${page.order}
    </if>
    <if test="page != null" >
      limit #{page.offset}, #{page.limit}
    </if>
  </select>
  <select id="queryPageResultCount" resultType="int" >
    select count(*) from 
    agent_order_log
    <where >
      <if test="condition.id != null" >
        and id = #{condition.id,jdbcType=INTEGER}
      </if>
      <if test="condition.orderId != null and condition.orderId != ''" >
        and order_id = #{condition.orderId,jdbcType=VARCHAR}
      </if>
      <if test="condition.logType != null" >
        and log_type = #{condition.logType,jdbcType=TINYINT}
      </if>
      <if test="condition.oriOrderStatus != null" >
        and ori_order_status = #{condition.oriOrderStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.afterOrderStatus != null" >
        and after_order_status = #{condition.afterOrderStatus,jdbcType=TINYINT}
      </if>
      <if test="condition.logContent != null and condition.logContent != ''" >
        and log_content = #{condition.logContent,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTime != null" >
        and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
        and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.modifyRecord != null and condition.modifyRecord != ''" >
        and modify_record = #{condition.modifyRecord,jdbcType=VARCHAR}
      </if>
      <if test="condition.operator != null and condition.operator != ''" >
        and operator = #{condition.operator,jdbcType=VARCHAR}
      </if>
      <if test="condition.operatorType != null" >
        and operator_type = #{condition.operatorType,jdbcType=TINYINT}
      </if>
      <if test="condition.remark != null and condition.remark != ''" >
        and remark = #{condition.remark,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>