<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morelinks.service.micro.order.mapper.ConfigOrderExtraInfoMapper" >
    <delete id="deleteByOrderExtraInfo"  >
    delete from config_order_extra_info
    where config_order_id = #{condition.configOrderId}
  </delete>
</mapper>